<ul class="nav nav-tabs mb-3" id="popular-tabs">
    <li class="nav-item">
        <a class="nav-link {% if active_period == 'today' %}active{% endif %}" href="{% url 'popular_period' 'today' %}" data-period="today">Bugün</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active_period == 'yesterday' %}active{% endif %}" href="{% url 'popular_period' 'yesterday' %}" data-period="yesterday">Dün</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active_period == 'weekly' %}active{% endif %}" href="{% url 'popular_period' 'weekly' %}" data-period="weekly">Haftalık</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active_period == 'monthly' %}active{% endif %}" href="{% url 'popular_period' 'monthly' %}" data-period="monthly">Aylık</a>
    </li>
</ul>