{% extends 'main/base.html' %}
{% load static %}
{% block title %}Rûpel Nehat Dîtin - Rumep{% endblock %}
{% block content %}
    <div class="container twitter-container">
        <h3>404 - Rûpel Nehat Dîtin</h3>
        <div class="card mb-3">
            <div class="card-body">
                <p class="text-muted">Bibore, rûpela ku hûn lê digerin tune ye an jî dibe ku hatibe rakirin.</p>
                <a href="{% url 'home' %}" class="btn btn-primary rounded-pill">Vegere Rûpela Sereke</a>
            </div>
        </div>
    </div>
{% endblock %}